<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenController</servlet-name>
        <servlet-class>controller.MenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WomenController</servlet-name>
        <servlet-class>controller.WomenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleController</servlet-name>
        <servlet-class>controller.SaleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authenciation</servlet-name>
        <servlet-class>controller.Authenciation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderInsertController</servlet-name>
        <servlet-class>controller.OrderInsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenController</servlet-name>
        <url-pattern>/men</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WomenController</servlet-name>
        <url-pattern>/women</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleController</servlet-name>
        <url-pattern>/sale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authenciation</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderInsertController</servlet-name>
        <url-pattern>/insertorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
